/* || General setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: rgba(187, 211, 2, 0.5);
  color: #ffffff;
}

body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}

/* || typography */
h1 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h3 {
  font-size: 2rem;
  text-shadow: 2px 2px 10px black;
  background: linear-gradient(transparent 70% , rgb(90, 90, 89) 70%);
  display: inline;
}

p, li {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
}

/* || header layout */
header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

#content > div > * {
  background-color: rgba(134, 153, 0, 0.5);
  padding: 1%;
}

#content Main,
#content header,
#content nav,
#content footer {
  background-color: rgba(134, 153, 0, 0.5);
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  flex: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: black;
}

/* || main layout */
main {
  display: flex;
}

p.scene-introduce {
  text-align: center;
}

div.video-container {
  text-align: center;
}

p.indent {
  height: 1rem;
}

/* || footer layout */
footer {
  margin-top: 10px;
}